[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
python-dotenv = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
djoser = "*"
djangorestframework-simplejwt = "*"
redis = "*"
celery = "*"
drf-nested-routers = "*"
django-templated-mail = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.10"
